@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

pre {
    white-space: pre-wrap;
}



/* general */


header img {

    width: 100%;
}

#logo-mobile {
    height: 50px;
}

.my-wrapper-100vh {
    height: calc(100vh - 70px);
    width: 100%;
    overflow: hidden;
}

.my-sidebar {
    height: 100%;
    // background-image: url(../img/sidebar-bg.png);
    background-color: var($my-dark-blue);
}

.my-logo-container {
    width: 150px;
}

/* header */
header>div>div {
    height: 70px;
}

#floatingInput {
    min-height: auto;
    height: 50px;
}

/* main */
main,
main>div {
    height: calc(100vh - 70px);
}

.main-content {
    width: 100%;
    overflow-y: auto;
}

.my-offcanvas.offcanvas {
    width: 700px;
}

img.my-img-avatar {
    width: 25px;
}

.my-btn {
    cursor: pointer;
}

.my-sidebar .my-btn:hover {
    background-color: #ffffff91;
}

/* my-backgrounds */

.my-bg-dark-blue {
    background-color: var($my-dark-blue);
}

.my-bg-blue {
    background-color: var($my-blue-bar);
}

.my-blue-badge {
    background-color: var($my-blue-badge);
}

/* media queries */

/* large */

@media screen and (min-width:992px) {
    .my-sidebar-lg {
        width: 150px;
    }

}