$text-color: rgb(27, 112, 240);
$my-dark-blue: #0f263d;
$my-blue-bar: #1b72e8;
$my-blue-badge: #165bba;




// :root {
// 	--my-dark-blue: #0f263d;
// 	--my-blue-bar: #1b72e8;
//     --my-blue-badge:#165bba;
// }